.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
Backend/obj
Backend/bin
Backend/Migrations

# Built Visual Studio Code Extensions
*.vsix
